[submodule "haskell-vim-master"]
	path = config/extra/10-haskell
	url = git@github.com:joaopizani/env.haskell-vim-cfgs.git
	branch = master
[submodule "vim-plug"]
	path = runtime/bundle/vim-plug
	url = git@github.com:junegunn/vim-plug.git
	branch = master
